@import "./Colors.scss";

.ion-page[data-page="admin-dashboard"] {

    .statistics {

        &>div {
            margin: 20px;
            display: flex;
            flex-wrap: wrap;

            &>div {
                background-color: whitesmoke;
                border-radius: 5px;
                padding: 12px;
                margin-bottom: 12px;
                flex-basis: calc(50% - 6px);

                label {
                    font-size: 0.9em;
                    font-weight: 400;
                }

                p {
                    font-weight: 700;
                    font-size: 1.2em;
                }

                &:nth-child(odd) {
                    margin-right: 12px;
                }

            }

        }

    }

}
