$dark-black: #000;
$light-black: #333;
$light-black-2: #555;
$blue-primary: #4C6BE8;
$purple-primary: #5F6CAF;
$red: #fa4252;
$orange: #ff7043;
$light-grey: #c0c0c0;
$light-grey-2: #BEBEBE;
$light-grey-3: #F5F5F5;
$light-grey-4: #dfdfdf;
$green: #01D28E;
$default-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$default-box-shadow-2: 0 4px 16px rgba(0,0,0,.12);
$yellow: #f7be16;
