@import "./Colors.scss";

ion-modal.location-customizer-modal {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    .no-location-selected {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5px;
        padding: 12px;
        z-index: 2;
        margin: 15px;
        font-weight: 300;
        font-size: 0.9em;
        background-color: rgba(255,255,255, 0.9);
    }

    .map-container {
        position: relative;
        z-index: 1;
        height: calc(100% - 360px);

        &>div {
            height: 100%;
        }

    }

    .options {
        // height: 320px;
        // position: absolute;
        // width: 100%;
        // left: 0;
        // bottom: 0;
        // border-radius: 8px 8px 0 0;
        background-color: white;
        // z-index: 2;

        ion-range {
            padding-top: 0px;
            padding-bottom: 6px;
        }

        .color-picker {
            margin-top: 16px;
            padding: 0 4px;

            &>div {
                width: 36px;
                height: 36px;
                border-radius: 100%;
                margin-right: 8px;
                margin-bottom: 8px;
                display: inline-block;
                border: 3px solid transparent;

                &[data-selected="true"] {
                    border: 3px solid white;
                    box-shadow: $default-box-shadow;
                }

            }

        }

        ion-searchbar {
            padding-inline-start: 0 !important;
        }

        .icon-picker, .image-picker {
            max-height: 138px;
            overflow: auto;
            margin-top: 8px;
            // flex-wrap: wrap;
            // justify-content: center;
            padding: 0 12px 0 0;
            // display: flex;

            &>div {
                width: 36px;
                height: 36px;
                border-radius: 100%;
                margin-right: 8px;
                margin-bottom: 8px;
                display: inline-block;
                border: 3px solid transparent;
                text-align: center;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                i {
                    display: inline-block;
                }

                i::before {
                    font-size: 1rem !important;
                }

                &[data-selected="true"] {
                    border: 3px solid white;
                    box-shadow: $default-box-shadow;
                }

            }

        }

        .image-picker {

            img {
                
            }

        }

        ion-button {
            margin: 15px;
        }

    }

}
