@import "./Colors.scss";

.ion-page[data-page="search-guide"] {

    section {
        padding: 15px;

        h2 {
            font-weight: 700;
            font-size: 1em;
            margin-top: 16px;
            margin-bottom: 2px;

            &:first-child {
                margin-top: 0;
            }

        }

        p {
            margin-bottom: 10px;
            font-size: 0.9rem;
        }

        .entity-header {

            h2 {
                font-weight: 700;
                font-size: 1.2em;
            }

            &>div {
                display: block;
            }

        }

        h3 {
            font-weight: 700;
            font-size: 1.1em;
            margin-top: 12px;
            margin-bottom: 12px
        }

        .parameter {
            margin-top: 20px;

            h4 {
                font-weight: 500;
                font-size: 1em;
                margin-bottom: 4px;

                span {
                    padding-left: 4px;
                    font-size: 0.8em;
                    font-weight: 300;
                    position: relative;
                    top: -1px;
                }

            }

            p {
                margin-bottom: 4px;

                span {
                    display: inline-block;
                }

            }

            .list {
                padding-left: 5px;

                &>div {
                    margin-bottom: 12px;

                    h5 {
                        font-size: 1em;
                        font-weight: 500;
                        margin-bottom: 4px;

                        span {
                            padding-left: 4px;
                            font-weight: 300;
                            font-size: 0.86em;
                        }

                    }

                    p {
                        font-size: 0.8em;
                        font-weight: 400;

                        span {
                            display: inline-block;
                            margin-left: 4px;
                        }

                    }

                }

            }

        }

        .link {
            background-color: rgba(0,0,0,0.06);
            border-left: 5px solid $blue-primary;
            padding: 10px;
            margin-top: 8px;

            span {

                &:first-child {
                    font-weight: 700;
                    margin-right: 4px;
                }

                &:last-child {
                    font-weight: 500;
                }

            }

            &.b {
                margin-bottom: 12px;

                span {
                    display: block;
                }

            }

        }

        .block {
            background-color: rgba(0,0,0,0.08);
            border-radius: 12px;
            padding: 15px;
        }

        ion-button {
            margin-bottom: 10px;
        }

    }

}
