.tag-suggestions {
    padding: 2px 0;
    max-height: 48px;
    white-space: nowrap;
    overflow: auto;

    // ion-chip {
    //     margin-right: 6px;
    //     margin-bottom: 6px;
    //     border: #555 1px solid;
    //     color: white;
    //     padding: 5px 8px 6px 8px;
    //     border-radius: 4px;
    //     display: inline-block;
    //     color: #555;
    //     background: white;
    //     height: unset;
    // }

    ion-chip:first-child {
        margin-left: 0;
    }

}
