    /*
    Flaticon icon font: Flaticon
    Creation date: 25/03/2020 01:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-smartphone:before { content: "\f100"; }
.flaticon-car:before { content: "\f101"; }
.flaticon-picture:before { content: "\f102"; }
.flaticon-video-player:before { content: "\f103"; }
.flaticon-box:before { content: "\f104"; }
.flaticon-ballot:before { content: "\f105"; }
.flaticon-elections:before { content: "\f106"; }
.flaticon-city-hall:before { content: "\f107"; }
.flaticon-city-hall-1:before { content: "\f108"; }
.flaticon-route:before { content: "\f109"; }
.flaticon-track:before { content: "\f10a"; }
.flaticon-direction:before { content: "\f10b"; }
.flaticon-education:before { content: "\f10c"; }
.flaticon-church:before { content: "\f10d"; }
.flaticon-headstone:before { content: "\f10e"; }
.flaticon-recycle-sign:before { content: "\f10f"; }
.flaticon-parking:before { content: "\f110"; }
.flaticon-bicycle:before { content: "\f111"; }
.flaticon-trash-can:before { content: "\f112"; }
.flaticon-recycle-bin:before { content: "\f113"; }
.flaticon-promotion:before { content: "\f114"; }
.flaticon-call:before { content: "\f115"; }
.flaticon-enterprise:before { content: "\f116"; }
.flaticon-family:before { content: "\f117"; }
.flaticon-student:before { content: "\f118"; }
.flaticon-suitcase:before { content: "\f119"; }
.flaticon-employee:before { content: "\f11a"; }
.flaticon-together:before { content: "\f11b"; }
.flaticon-warrior:before { content: "\f11c"; }
.flaticon-lotus-flower:before { content: "\f11d"; }
.flaticon-padmasana:before { content: "\f11e"; }
.flaticon-heart:before { content: "\f11f"; }
.flaticon-charity:before { content: "\f120"; }
.flaticon-dumbbell:before { content: "\f121"; }
.flaticon-information:before { content: "\f122"; }
.flaticon-question:before { content: "\f123"; }
.flaticon-dog:before { content: "\f124"; }
.flaticon-bone:before { content: "\f125"; }
.flaticon-barbershop:before { content: "\f126"; }
.flaticon-coffee-shop:before { content: "\f127"; }
.flaticon-cafeteria:before { content: "\f128"; }
.flaticon-coffee:before { content: "\f129"; }
.flaticon-bread:before { content: "\f12a"; }
.flaticon-chocolate:before { content: "\f12b"; }
.flaticon-dish:before { content: "\f12c"; }
.flaticon-restaurant:before { content: "\f12d"; }
.flaticon-shop:before { content: "\f12e"; }
.flaticon-shopping-bag:before { content: "\f12f"; }
.flaticon-shop-1:before { content: "\f130"; }
.flaticon-piggy-bank:before { content: "\f131"; }
.flaticon-museum:before { content: "\f132"; }
.flaticon-record:before { content: "\f133"; }
.flaticon-disco-ball:before { content: "\f134"; }
.flaticon-beer:before { content: "\f135"; }
.flaticon-lgtb:before { content: "\f136"; }
.flaticon-truck:before { content: "\f137"; }
.flaticon-ambulance:before { content: "\f138"; }
.flaticon-boat:before { content: "\f139"; }
.flaticon-doctor:before { content: "\f13a"; }
.flaticon-hospital:before { content: "\f13b"; }
.flaticon-subway:before { content: "\f13c"; }
.flaticon-tourist:before { content: "\f13d"; }
.flaticon-tourists:before { content: "\f13e"; }
.flaticon-suitcase-1:before { content: "\f13f"; }
.flaticon-tickets:before { content: "\f140"; }
.flaticon-cctv:before { content: "\f141"; }
.flaticon-water:before { content: "\f142"; }
.flaticon-playground:before { content: "\f143"; }
.flaticon-park:before { content: "\f144"; }
.flaticon-bowling:before { content: "\f145"; }
.flaticon-right-to-objection:before { content: "\f146"; }
.flaticon-lightbulb:before { content: "\f147"; }
.flaticon-wifi:before { content: "\f148"; }
.flaticon-plant:before { content: "\f149"; }
.flaticon-atm-machine:before { content: "\f14a"; }
.flaticon-book:before { content: "\f14b"; }
.flaticon-book-1:before { content: "\f14c"; }
.flaticon-book-2:before { content: "\f14d"; }
.flaticon-taxi:before { content: "\f14e"; }
.flaticon-bus-stop:before { content: "\f14f"; }
.flaticon-running:before { content: "\f150"; }
.flaticon-gym:before { content: "\f151"; }
.flaticon-gym-1:before { content: "\f152"; }
.flaticon-pharmacy:before { content: "\f153"; }
.flaticon-sauna:before { content: "\f154"; }
.flaticon-work:before { content: "\f155"; }
.flaticon-factory:before { content: "\f156"; }
.flaticon-laptop:before { content: "\f157"; }
.flaticon-factory-1:before { content: "\f158"; }
.flaticon-camera:before { content: "\f159"; }
.flaticon-worker:before { content: "\f15a"; }
.flaticon-worker-1:before { content: "\f15b"; }
.flaticon-maintenance:before { content: "\f15c"; }
.flaticon-engineer:before { content: "\f15d"; }
.flaticon-architect:before { content: "\f15e"; }
.flaticon-florist:before { content: "\f15f"; }
.flaticon-florist-1:before { content: "\f160"; }
.flaticon-cloth:before { content: "\f161"; }
.flaticon-fashion:before { content: "\f162"; }
.flaticon-fast-food:before { content: "\f163"; }
.flaticon-park-1:before { content: "\f164"; }
.flaticon-burger:before { content: "\f165"; }
.flaticon-tooth:before { content: "\f166"; }
.flaticon-canvas:before { content: "\f167"; }
.flaticon-pipeline:before { content: "\f168"; }
.flaticon-plumber:before { content: "\f169"; }
.flaticon-post-office:before { content: "\f16a"; }
.flaticon-post-office-1:before { content: "\f16b"; }
.flaticon-post-office-2:before { content: "\f16c"; }
.flaticon-post-office-3:before { content: "\f16d"; }
.flaticon-post-office-4:before { content: "\f16e"; }
.flaticon-painting:before { content: "\f16f"; }
.flaticon-paint:before { content: "\f170"; }
.flaticon-instruction:before { content: "\f171"; }
.flaticon-microphone:before { content: "\f172"; }
.flaticon-dj-mixer:before { content: "\f173"; }
.flaticon-camera-1:before { content: "\f174"; }
.flaticon-dance:before { content: "\f175"; }
.flaticon-dancer:before { content: "\f176"; }
.flaticon-dancing:before { content: "\f177"; }
.flaticon-museum-1:before { content: "\f178"; }
.flaticon-cinema:before { content: "\f179"; }
.flaticon-exhibition:before { content: "\f17a"; }
.flaticon-spotlights:before { content: "\f17b"; }
.flaticon-exhibition-1:before { content: "\f17c"; }
.flaticon-workspace:before { content: "\f17d"; }
.flaticon-car-crash:before { content: "\f17e"; }
.flaticon-ice-skating:before { content: "\f17f"; }
.flaticon-toilet-paper:before { content: "\f180"; }
.flaticon-clapperboard:before { content: "\f181"; }
.flaticon-placeholder:before { content: "\f182"; }
.flaticon-place:before { content: "\f183"; }
.flaticon-fuel-station:before { content: "\f184"; }
.flaticon-electric:before { content: "\f185"; }
.flaticon-charging:before { content: "\f186"; }
    
    $font-Flaticon-smartphone: "\f100";
    $font-Flaticon-car: "\f101";
    $font-Flaticon-picture: "\f102";
    $font-Flaticon-video-player: "\f103";
    $font-Flaticon-box: "\f104";
    $font-Flaticon-ballot: "\f105";
    $font-Flaticon-elections: "\f106";
    $font-Flaticon-city-hall: "\f107";
    $font-Flaticon-city-hall-1: "\f108";
    $font-Flaticon-route: "\f109";
    $font-Flaticon-track: "\f10a";
    $font-Flaticon-direction: "\f10b";
    $font-Flaticon-education: "\f10c";
    $font-Flaticon-church: "\f10d";
    $font-Flaticon-headstone: "\f10e";
    $font-Flaticon-recycle-sign: "\f10f";
    $font-Flaticon-parking: "\f110";
    $font-Flaticon-bicycle: "\f111";
    $font-Flaticon-trash-can: "\f112";
    $font-Flaticon-recycle-bin: "\f113";
    $font-Flaticon-promotion: "\f114";
    $font-Flaticon-call: "\f115";
    $font-Flaticon-enterprise: "\f116";
    $font-Flaticon-family: "\f117";
    $font-Flaticon-student: "\f118";
    $font-Flaticon-suitcase: "\f119";
    $font-Flaticon-employee: "\f11a";
    $font-Flaticon-together: "\f11b";
    $font-Flaticon-warrior: "\f11c";
    $font-Flaticon-lotus-flower: "\f11d";
    $font-Flaticon-padmasana: "\f11e";
    $font-Flaticon-heart: "\f11f";
    $font-Flaticon-charity: "\f120";
    $font-Flaticon-dumbbell: "\f121";
    $font-Flaticon-information: "\f122";
    $font-Flaticon-question: "\f123";
    $font-Flaticon-dog: "\f124";
    $font-Flaticon-bone: "\f125";
    $font-Flaticon-barbershop: "\f126";
    $font-Flaticon-coffee-shop: "\f127";
    $font-Flaticon-cafeteria: "\f128";
    $font-Flaticon-coffee: "\f129";
    $font-Flaticon-bread: "\f12a";
    $font-Flaticon-chocolate: "\f12b";
    $font-Flaticon-dish: "\f12c";
    $font-Flaticon-restaurant: "\f12d";
    $font-Flaticon-shop: "\f12e";
    $font-Flaticon-shopping-bag: "\f12f";
    $font-Flaticon-shop-1: "\f130";
    $font-Flaticon-piggy-bank: "\f131";
    $font-Flaticon-museum: "\f132";
    $font-Flaticon-record: "\f133";
    $font-Flaticon-disco-ball: "\f134";
    $font-Flaticon-beer: "\f135";
    $font-Flaticon-lgtb: "\f136";
    $font-Flaticon-truck: "\f137";
    $font-Flaticon-ambulance: "\f138";
    $font-Flaticon-boat: "\f139";
    $font-Flaticon-doctor: "\f13a";
    $font-Flaticon-hospital: "\f13b";
    $font-Flaticon-subway: "\f13c";
    $font-Flaticon-tourist: "\f13d";
    $font-Flaticon-tourists: "\f13e";
    $font-Flaticon-suitcase-1: "\f13f";
    $font-Flaticon-tickets: "\f140";
    $font-Flaticon-cctv: "\f141";
    $font-Flaticon-water: "\f142";
    $font-Flaticon-playground: "\f143";
    $font-Flaticon-park: "\f144";
    $font-Flaticon-bowling: "\f145";
    $font-Flaticon-right-to-objection: "\f146";
    $font-Flaticon-lightbulb: "\f147";
    $font-Flaticon-wifi: "\f148";
    $font-Flaticon-plant: "\f149";
    $font-Flaticon-atm-machine: "\f14a";
    $font-Flaticon-book: "\f14b";
    $font-Flaticon-book-1: "\f14c";
    $font-Flaticon-book-2: "\f14d";
    $font-Flaticon-taxi: "\f14e";
    $font-Flaticon-bus-stop: "\f14f";
    $font-Flaticon-running: "\f150";
    $font-Flaticon-gym: "\f151";
    $font-Flaticon-gym-1: "\f152";
    $font-Flaticon-pharmacy: "\f153";
    $font-Flaticon-sauna: "\f154";
    $font-Flaticon-work: "\f155";
    $font-Flaticon-factory: "\f156";
    $font-Flaticon-laptop: "\f157";
    $font-Flaticon-factory-1: "\f158";
    $font-Flaticon-camera: "\f159";
    $font-Flaticon-worker: "\f15a";
    $font-Flaticon-worker-1: "\f15b";
    $font-Flaticon-maintenance: "\f15c";
    $font-Flaticon-engineer: "\f15d";
    $font-Flaticon-architect: "\f15e";
    $font-Flaticon-florist: "\f15f";
    $font-Flaticon-florist-1: "\f160";
    $font-Flaticon-cloth: "\f161";
    $font-Flaticon-fashion: "\f162";
    $font-Flaticon-fast-food: "\f163";
    $font-Flaticon-park-1: "\f164";
    $font-Flaticon-burger: "\f165";
    $font-Flaticon-tooth: "\f166";
    $font-Flaticon-canvas: "\f167";
    $font-Flaticon-pipeline: "\f168";
    $font-Flaticon-plumber: "\f169";
    $font-Flaticon-post-office: "\f16a";
    $font-Flaticon-post-office-1: "\f16b";
    $font-Flaticon-post-office-2: "\f16c";
    $font-Flaticon-post-office-3: "\f16d";
    $font-Flaticon-post-office-4: "\f16e";
    $font-Flaticon-painting: "\f16f";
    $font-Flaticon-paint: "\f170";
    $font-Flaticon-instruction: "\f171";
    $font-Flaticon-microphone: "\f172";
    $font-Flaticon-dj-mixer: "\f173";
    $font-Flaticon-camera-1: "\f174";
    $font-Flaticon-dance: "\f175";
    $font-Flaticon-dancer: "\f176";
    $font-Flaticon-dancing: "\f177";
    $font-Flaticon-museum-1: "\f178";
    $font-Flaticon-cinema: "\f179";
    $font-Flaticon-exhibition: "\f17a";
    $font-Flaticon-spotlights: "\f17b";
    $font-Flaticon-exhibition-1: "\f17c";
    $font-Flaticon-workspace: "\f17d";
    $font-Flaticon-car-crash: "\f17e";
    $font-Flaticon-ice-skating: "\f17f";
    $font-Flaticon-toilet-paper: "\f180";
    $font-Flaticon-clapperboard: "\f181";
    $font-Flaticon-placeholder: "\f182";
    $font-Flaticon-place: "\f183";
    $font-Flaticon-fuel-station: "\f184";
    $font-Flaticon-electric: "\f185";
    $font-Flaticon-charging: "\f186";